.product-item img {
    max-width: 150px;
    max-height: 150px;
}

.product-item .product-qtd {
    width: 50px;
    display: inline-block;
}

.product-item .qtd-control {
    font-size: 17px;
    cursor: pointer;
}

.product-item .product-info {
    padding-left: 30px;
    height: 150px;
}

.page-top span {
    float: right;
    margin-top: 70px;
    text-shadow: 3px 1px 2px rgba(150, 150, 150, 1);
}

.product-id, #purchase {display: none;}