#fundo {
	position: fixed;
	top: -15px;
}

div.info1, div.info2 {
	font-size: 50px;
	font-weight: bold;
	position: fixed;
	border: 0;
}

div.info1 {
   color: gray;
   top: 570px;
   left: 50px;
   z-index: 100;
   border: 0;
}

div.info2 {
   color: darkgray;
   top: 220px;
   left: 690px;
   z-index: 150;
   border: 0;
}

div.descricao-sonho {
	font-size: 30px;
	color: black;
	position: fixed;
	top: 265px;
	left: 338px;
	z-index: 100;
	border: 0;
	font-family: "times";
	font-weight: bold;
}

div.crianca {
	font-size: 20px;
	color: gray;
	position: fixed;
	top: 316px;
	left: 550px;
	z-index: 100;
	border: 0;
}

div.idade {
	font-size: 20px;
	color: gray;
	position: fixed;
	top: 346px;
	left: 570px;
	z-index: 100;
	border: 0;
}

div.doenca {
	font-size: 18px;
	color: red;
	position: fixed;
	top: 336px;
	left: 380px;
	z-index: 100;
	border: 0;
}
