<div class="sidebar-module sidebar-module-inset">

Rankings

<!-- Nav tabs -->
<ul class="nav nav-tabs">
	<li><a href="#tables-global" data-toggle="tab"><i class="glyphicon glyphicon-globe"></i></a></li>
	<li class="active"><a href="#users-global" data-toggle="tab"><i class="glyphicon glyphicon-user"></i></a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <div class="tab-pane" id="tables-global" ng-controller="GlobalTablesController">
    <div class="list-group">
			<a href="#" class="list-group-item" ng-repeat="table in tables">
				<div class="row">
					<img class="col-sm-3" ng-src="{{table.urlImagem}}">
					<div class="col-sm-9">
						<h4 class="list-group-item-heading">
							{{table.nome}}
							<span class="pull-right delta-up" ng-show="table.delta == 1"><i class="glyphicon glyphicon-arrow-up"></i></span>
							<span class="pull-right delta-down" ng-show="table.delta == 2"><i class="glyphicon glyphicon-arrow-down"></i></span>
						</h4>
					</div>
				</div>
      </a>
    </div>
  </div>

  <div class="tab-pane active" id="users-global" ng-controller="GlobalUsersController" style="max-height: 700px; overflow-x: scroll">
    <div class="list-group">
      <a data-toggle="modal" href="#historicoPerson" class="list-group-item" ng-repeat="person in participants">
				<div class="row">
					<img class="col-sm-3" ng-src="{{person.urlImagem}}">
					<div class="col-sm-9">
						<h4 class="list-group-item-heading">
							{{person.nome}}
							<span class="pull-right delta-up" ng-show="person.delta == 1"><i class="glyphicon glyphicon-arrow-up"></i></span>
							<span class="pull-right delta-down" ng-show="person.delta == 2"><i class="glyphicon glyphicon-arrow-down"></i></span>
						</h4>
						<img ng-repeat="badge in person.badge" class="img-circle" ng-src="{{badge.urlImagem}}" alt="{{badge.nome}}">
					</div>
				</div>
      </a>
    </div>
  </div>
    
</div>